/Codigo Piloto/temp/
/Codigo Piloto/Variables del Workspace/
/Codigo Piloto/Figuras
/30 El Numero Magico/Figuras
/ProbabilityEvolution/Figuras
/Programas Complementarios/Figuras
/Programas Complementarios/Variables del Workspace/
/TiposDocumentos/Figuras

tmg.log
*.tmp
*.mat